<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div class="col-2 d-inline-block bg-primary">
        <ul>
            <li><a href="/dashboard" class="text-white">Dashboard</a></li>
            <li><a href="/workers" class="text-white">Worker List</a></li>
            <li><a href="/clients" class="text-white">Client List</a></li>
            <li><a href="/jobs" class="text-white">View Jobs</a></li>
        </ul>
    </div>
    <div class="col-8 d-inline-block align-top">
        <h1>Add New Job</h1>
        <form action="/jobs/{{job.id}}/send" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-2" for="client_id">Property Name:</label>
                <select class="form-control col-4 d-inline-block" id="client_id" name="client_id">
                    <option value="{{job.prop.id}}">{{job.prop.name}}</option>
                    {% for i in clients %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="col-2" for="request_by">Requested By:</label>
                <input class="form-control col-4 d-inline-block" type="text" id="request_by" name="request_by" value="{{job.request_by}}">
            </div>
            <div class="form-group">
                    <label class="col-2" for="worker_id">Worker:</label>
                    <select class="form-control col-4 d-inline-block" id="worker_id" name="worker_id">
                        {% if job.employee.id is not None %}
                        <option value="{{job.employee.id}}">{{job.employee.first_name}} {{job.employee.last_name}}</option>
                        {% else %}
                        <option value="0">----</option>
                        {% endif %}
                        {% for i in workers %}
                        <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <label class="col-2" for="job_type">Job Type:</label>
                <input class="form-control col-4 d-inline-block" type="text" id="job_type" name="job_type" value="{{job.job_type}}">
            </div>
            <div class="form-group">
                <label class="col-2 align-top" for="add_info">Additional Information:</label>
                <textarea class="form-control col-4 d-inline-block" id="add_info" name="add_info" rows="6">{{job.add_info}}</textarea>
            </div>
            <div class="form-group">
                <label class="col-2" for="add_info">Date:</label>
                <input type="date" class="form-control col-4 d-inline-block" id="date" name="date" value="{{job.date_assigned}}">
            </div>
            <div class="form-group">
                <label class="col-2" for="status">Worker:</label>
                <select class="form-control col-4 d-inline-block" id="status" name="status">
                    <option value="0">----</option>
                    <option value="completed">Completed</option>
                    <option value="rescheduled">Rescheduled</option>
                    <option value="cancelled">Cancelled</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>